<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sugarbroker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logomini"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logomini"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA-d9Gv_H5AOlQofgeRWPbmegUR-OwNt9k"/>

        <activity android:name=".activity.resale.AddResaleActivity"></activity>
        <activity android:name=".activity.resale.ResaleActivity" />

        <activity android:name=".activity.tender.AddTenderActivity"></activity>
        <activity android:name=".activity.tender.DetailTenderActivity"></activity>
        <activity android:name=".activity.tender.BuyTenderActivity"></activity>
        <activity android:name=".activity.tender.ReviewTenderActivity"></activity>

        <activity android:name=".activity.users.AddUserActivity"></activity>
        <activity android:name=".activity.users.DetailUserActivity"></activity>

        <activity android:name=".activity.order.AddOrderActivity"></activity>
        <activity android:name=".activity.order.DetailOrderActivity"></activity>


        <activity android:name=".activity.home.SellerHomeActivity"></activity>
        <activity android:name=".activity.home.UserHomeActivity" />
        <activity android:name=".activity.home.AdminHomeActivity" />

        <activity android:name=".activity.account.LoginActivity" />
        <activity android:name=".activity.account.RegisterActivity" />
        <activity android:name=".activity.account.ForgotPasswordActivity" />

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>