<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sugarbroker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logomini"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logomini"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA-d9Gv_H5AOlQofgeRWPbmegUR-OwNt9k" />

        <activity android:name=".activity.account.ContactUsActivity"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name=".activity.resale.AddResaleActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName=".activity.home.AdminHomeActivity" />
        <activity
            android:name=".activity.resale.DetailResaleActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName=".activity.home.UserHomeActivity" />
        <activity android:name=".activity.resale.BuyResaleActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".activity.resale.ReviewResaleActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".activity.tender.AddTenderActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName=".activity.home.AdminHomeActivity" />
        <activity
            android:name=".activity.tender.DetailTenderActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName=".activity.home.UserHomeActivity" />
        <activity android:name=".activity.tender.BuyTenderActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activity.tender.ReviewTenderActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.users.AddUserActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName=".activity.home.AdminHomeActivity" />
        <activity android:name=".activity.users.DetailUserActivity" />
        <activity
            android:name=".activity.order.AddOrderActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName=".activity.home.AdminHomeActivity" />
        <activity android:name=".activity.order.DetailOrderActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activity.home.SellerHomeActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activity.home.UserHomeActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".activity.home.AdminHomeActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".activity.account.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".activity.account.RegisterActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName=".activity.account.LoginActivity" />
        <activity
            android:name=".activity.account.ForgotPasswordActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName=".activity.account.LoginActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".activity.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@android:drawable/ic_notification_overlay" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>